<configuration>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
        </encoder>
    </appender>

<!--    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNCSTDOUT">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </appender>-->

    <logger level="ERROR" name="play"/>
    <logger level="ERROR" name="akka"/>
    <logger level="ERROR" name="sql"/>
    <logger level="ERROR" name="org.mybatis"/>
    <logger level="ERROR" name="org.apache"/>
    <logger level="ERROR" name="com.zaxxer"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
