<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.MediaMessageMapper">
    <insert id="insertMessageId">
        insert into media_message(message_id,user_id, created)
        VALUES (#{messageId},#{user_id}, now())
    </insert>
    <delete id="deleteMessages">
            delete from media_message where created <![CDATA[<=#{dateTime}]]>
    </delete>
    <delete id="deleteMessageById">
        delete from media_message where message_id=#{messageId} and user_id=#{userId}
    </delete>
    <select id="selectMessagesByTime" resultMap="MediaMessageMap">
        select message_id, user_id from media_message where created <![CDATA[<=#{dateTime}]]>
    </select>

    <resultMap id="MediaMessageMap" type="model.MediaMessage">
        <id property="messageId" column="message_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>


</mapper>
