<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.MediaMessageMapper">
    <insert id="insertMessageId">
        insert into media_message(message_id, user_id)
        VALUES (#{messageId}, #{user_id})
    </insert>
    <delete id="deleteMessages">
        delete
        from media_message
        where created &lt;= #{dateTime}
    </delete>
    <delete id="deleteMessageById">
        delete
        from media_message
        where message_id = #{messageId}
          and user_id = #{userId}
    </delete>
    <select id="selectMessagesByTime" resultType="model.MediaMessage">
        select message_id as "messageId",
               user_id    as "userId"
        from media_message
        where created &lt;= #{dateTime}
    </select>
</mapper>
