<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.OpdsMapper">
    <insert id="insertBook">
        insert into books(id, title, authors, year, ref_id, fb, epub, genres)
        VALUES (#{b.id}, #{b.title}, #{b.authors}, #{b.year}, #{b.refId}, #{b.fb}, #{b.epub}, #{b.genres})
    </insert>

    <select id="findBook" resultMap="BookMap">
        select *
        from books
        where id = #{id}
          and fb = #{fb}
          and epub = #{epub}
    </select>

    <resultMap id="BookMap" type="model.TBook">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="fb" column="fb"/>
        <result property="epub" column="epub"/>
        <result property="refId" column="ref_id"/>
        <result property="year" column="year"/>
        <result property="genres" column="genres"/>
        <result property="authors" column="genres"/>
    </resultMap>
</mapper>
