<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.OpdsMapper">
    <insert id="insertBook" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into opds_books(title, author, tag, fb_link, epub_link)
        VALUES (#{b.title}, #{b.author}, #{b.opdsTag}, #{b.fbLink}, #{b.epubLink})
    </insert>

    <update id="updateBookEpub">
        update opds_books
        set epub_ref_id = #{epubRef}
        where epub_link = #{url}
          and epub_ref_id is null
    </update>

    <update id="updateBookFb">
        update opds_books
        set fb_ref_id = #{fbRef}
        where fb_link = #{url}
          and fb_ref_id is null
    </update>

    <select id="findBook" resultType="model.opds.Book">
        select id,
               title,
               author,
               year,
               tag         as "opdsTag",
               fb_link     as "fbLink",
               epub_link   as "epubLink",
               fb_ref_id   as "fbRefId",
               epub_ref_id as "epubRefId"
        from opds_books
        where tag = #{tag}
    </select>
</mapper>
