<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.TestMapper">

    <update id="dropFsTree">
        drop view if exists fs_tree_${owner}
    </update>
    <update id="dropFsStruct">
        drop table if exists fs_struct_${owner}
    </update>

    <delete id="dropUser">
        delete from users where id = #{id}
    </delete>
</mapper>
