<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.UserMapper">
    <insert id="insertUser">
        insert into users(id, root_id)
        VALUES (#{id},
                #{rootId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler})
    </insert>
    <update id="updateRoot">
        update users set root_id = (select id from fs_data_${userId} where parent_id is null)
    </update>

    <select id="getUser" resultType="java.util.Map">
        select u.*
        from users u
        where u.id = #{id}
    </select>

    <update id="updateUser">
        update users
        set last_ref_id = #{lastRefId},
            last_text   = #{lastText},
            last_kbd    = #{lastKbd},
            data        = #{data}
        where id = #{id}
    </update>
</mapper>
